<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog Home</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>

<body class="center">
    <header class="container center">
        <h3>EVERYTHING IS PERSONAL, INCLUDING THIS BLOG.</h3>
        <h1>Train of Thought</h1>
    </header>
    
    <main class="container">