<%- include("partials/header.ejs") %>
  
    <div class="margin1">
        <h4>Create a New Blog</h4>
        <form action="/blogs" method="POST">
            <label>Title:</label>
            <input type="text" name="title" required>
            <label>Content:</label>
            <textarea name="content" required></textarea>
            <button class="btn1 center" type="submit">Submit</button>
        </form>
    </div>
</main>

<footer class="container center">
    <h3>© 2025 | Jo Ann Francisco</h3>
</footer>

</body>
</html>
